.container {
  padding-top: 10%;
}

.title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.btn {
  border-radius: 48px !important;
  padding: 10px 25px !important;
  font-size: 30px !important;
  border: solid 1px black;
}

input {
  width: 35%;
  padding: 5px 5px 10px 15px;
  border-width: 1px;
  border-radius: 48px !important;
  font-size: 20px !important;
}

.piker {
  width: 100% !important;
}

.menu {
  background-color: lightgray;
  border-radius: 50px;
  margin: 5px !important;
}
